.header {
    background-color: var(--accent-color);
    padding: 5px;
}

.header__title,
.header__logo {
    font-size: 3.5rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.header__menu {
    display: flex;
    flex-direction: column;

    .menu__item {
        text-decoration: none;
        color: var(--text-color);
    }

    .menu__item:hover {
        text-decoration: underline;
    }

}

@media (min-width: 600px) {

    .header__menu {
        flex-direction: row;
        justify-content: space-around;
        flex: 1;
    }

    .header__nav {
        display: flex;
        align-items: center;
    }

}


.header__banner {
    background:
        linear-gradient( rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
        url(../img/baby-yoda.svg);
    min-height: 500px;
    background-size: cover;
    background-position: 50% 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header__title {
    color: var(--accent-color);
}